@import url(https://fonts.googleapis.com/css?family=Poppins:regular0$display-swap);

// -----Для заголовков-----

@font-face {
	font-family: kaushan;
	src: url('/fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
		url('/fonts/kaushanscript-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/*Обнуление*/


* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

body {
	height: 100%;
	font-family: Poppins;
	color: #C0C0C0;

	.wrapper {
		/* Застосовуй до фулскрін блоків*/
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow: hidden;

	}

}

[class*="__container"] {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0px 10px;

}

// !----------------------------header--------------------
.header {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: black;

	&__container {
		display: flex;
		gap: 340px;
		align-items: center;
		min-height: 90px;
		padding-top: 5px;
		padding-bottom: 5px;


	}

	&__logo {
		align-content: center;
		padding-left: 22px;
	}

}

.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		align-items: center;
	}


	&__link {
		font-size: 15px;
		color: #FFFFFF;

		&_business {
			padding-right: 56px;
			font-size: 13px;
			color: #FFFFFF;

		}

	}
}

.link-base {
	display: inline-block;

	height: 42px;
	width: 155px;
	background: #FFFFFF;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: #000000;
	text-align: center;
	line-height: 45px;
	border-radius: 14px;
	border: 1px solid rgb(0, 0, 0);
	animation: 1s linear 0s infinite alternate getemplate;
}

@keyframes getemplate {

	0% {
		transform: scale(1);
	}

	100% {
		box-shadow: 5px 5px 16px 7px rgb(126, 121, 121), -5px -5px 16px 7px rgb(126, 121, 121);
		border: 1px solid rgb(0, 0, 0);
		position: relative;
		top: -1px;
		left: 1px;
		background-color: rgb(255, 255, 255);
		transform: scale(1.1);
	}

}

@media (max-width:1250px) {

	.header {
		&__container {
			display: flex;
			gap: 180px;
			align-items: center;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		&__logo {
			align-content: center;
			padding-left: 22px;
		}
	}

	.menu {
		&__list {
			display: flex;
			flex-wrap: wrap;
			gap: 22px;
			align-items: center;
		}

		&__link {
			font-size: 14px;

			&_business {
				padding-right: 20px;
			}
		}
	}
}


@media (max-width:999.98px) {
	.header {


		&__container {
			display: flex;
			gap: 80px;
			align-items: center;
			min-height: 90px;
			padding-top: 5px;
			padding-bottom: 5px;

		}

		&__logo {
			align-content: center;
			padding-left: 22px;
		}

	}

	.menu {
		&__list {
			display: flex;
			flex-wrap: wrap;
			gap: 22px;
			align-items: center;
		}

	}

	.link-base {
		display: inline-block;
		height: 30px;
		width: 100px;
		font-size: 13px;
		color: #000000;
		text-align: center;
		line-height: 30px;
		border-radius: 14px;

	}

}

@media (max-width:550.98px) {
	.header {

		&__container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: center;
			min-height: 90px;
			padding-top: 5px;
			padding-bottom: 5px;

		}

		&__logo {
			align-content: center;
			padding: 20px 0px 20px 0;
		}

	}

	.menu {
		padding-bottom: 30px;

		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			flex-wrap: wrap;
			gap: 22px;
			justify-items: center;
		}

		&__link {
			font-size: 14px;


			&_business {
				padding-right: 0px;
			}

		}

		.link-base {
			font-size: 11px;

		}

	}

	.menu__list li:last-child {
		grid-column: span 2;
		text-align: center;
	}
}


@media (max-width:300.98px) {
	.menu {
		padding-bottom: 30px;

		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			flex-wrap: wrap;
			gap: 22px;
			justify-items: normal;
		}
	}
}

// !----------------------------pages--------------------


.page {
	flex: 1 1 auto;
	background-color: #000000;

	.page {

		&__fuji {
			margin-top: 50px;
			max-width: 100%;
			height: 600px;
			background: url('/img/fuji/fuji-decor.png') center/cover no-repeat;
		}

		&__monstera {
			max-width: 100%;
			height: 600px;
			background: url('/img/monstera/decor-monstera.png') center/cover no-repeat;
		}

		&__himalayas {
			margin-top: 50px;
			max-width: 100%;
			height: 600px;
			background: url('/img/himalayas/himalayas-decor.png') center/cover no-repeat;




		}
	}





	// !----------------------------reuse--------------------

	.button-body {
		display: flex;
		justify-content: space-evenly;
		width: 143px;
		line-height: 42px;
		background: #FFFFFF;
		border-radius: 14px;

		span {
			font-size: 15px;
			letter-spacing: 0.4px;
			color: #000000;
		}
	}

	.button-body:hover {
		animation: 1s ease-out 0s infinite button;
	}


	@keyframes button {
		from {
			transform: scale(1);

		}

		to {
			transform: scale(1.1);
			box-shadow: 1px 1px 16px 1px rgb(126, 121, 121), -1px -1px 16px 1px rgb(126, 121, 121);
			border: 1px solid rgb(0, 0, 0);
			position: relative;
			top: -1px;
			left: 1px;

			background-color: rgb(255, 255, 255);
		}
	}




	.title-item {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	.title {
		font-weight: 400;
		font-size: 40px;
		line-height: 42px;
		text-align: center;
		color: #FFFFFF;
		animation: growh2 3s linear 1;
	}

	@keyframes growh2 {
		0% {

			font-size: 0%
		}

		100% {
			font-size: 40px
		}
	}

	.subtitle {
		font-size: 23px;
		line-height: 30px;
		text-align: center;
		color: #C0C0C0;
		animation: subtitle 3s linear 1;
	}

	@keyframes subtitle {
		0% {
			padding-bottom: 120px;
			font-size: 0%
		}

		100% {
			font-size: 30px
		}
	}


	.text-item {
		color: #C0C0C0;
		font-size: 14px;
		line-height: 20px;
	}

	// !----------------------------studios--------------------
	&__studios {
		margin: 0 auto;
		max-width: 100%;
		background: url('/img/studios/decor.png') center / cover no-repeat;
		padding-bottom: 41px;
		animation: background 3s ease-in 1;
	}
}

.studios {

	&__container {
		margin-top: 90px;
	}

	&__content {

		margin: 0 auto;
		text-align: center;
		padding-top: 441px;
		width: 600px;
		animation: studios 3s ease-in 1;
	}

	&__role {
		margin-bottom: 1px;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #C0C0C0;
		animation: role linear 4s 1 forwards alternate;
	}

	&__title {
		font-size: 54px;
		line-height: 59px;
		color: #FFFFFF;
		margin-bottom: 15px;
		animation: grow linear 4s 1 forwards alternate;
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #C0C0C0;
		margin-bottom: 4px;
	}

	&__info:not(:last-child) {
		margin-bottom: 41px;
	}
}

@keyframes studios {

	0% {
		padding-top: 10px;
	}

	100% {
		padding-top: 441px;
	}

}

@keyframes background {

	0% {
		max-width: 50%;
	}
}

@keyframes grow {
	0% {
		font-size: 0%
	}

	100% {
		font-size: 54px
	}
}

@keyframes role {
	0% {
		font-size: 0px
	}

	100% {
		font-size: 14px
	}
}


.info-studios {

	&__list {
		display: flex;
		justify-content: end;
		gap: 16px;
		line-height: 16px;

	}

	&__item img {
		position: relative;
		top: 5px;
		left: 0;
		padding-right: 6px;

	}

	&__link {
		font-size: 12px;
		color: #FFFFFF;

	}
}

@media (max-width:1250px) {

	.studios {

		&__container {
			margin-top: 90px;
		}

		&__content {

			margin: 0 auto;
			text-align: center;
			padding-top: 300px;
			width: 600px;
			animation: studios 3s ease-in 1;
		}

		&__role {
			margin-bottom: 2px;
			font-size: 13px;

		}

		&__title {
			font-size: 44px;
			line-height: 59px;
		}

		&__text {
			padding: 10px;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 20px;
		}

		&__info:not(:last-child) {
			margin-bottom: 30px;
		}
	}


	@keyframes studios {

		0% {
			padding-top: 10px;
		}


		100% {
			padding-top: 300px;
		}

	}


}


@media (max-width:610.99px) {

	.studios {
		&__container {
			margin-top: 90px;
		}

		&__content {
			padding-top: 250px;
			width: auto;
		}

		&__role {
			margin-top: 20px;
			margin-bottom: 2px;
			font-size: 12px;
		}

		&__title {
			font-size: 34px;
			line-height: 59px;
			animation: growsad 3s ease-in 1;
		}
	}

	@keyframes grow {
		0% {
			font-size: 0%
		}

		100% {
			font-size: 34px
		}
	}

}

@media (max-width:300.99px) {

	.info-studios {


		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			text-align: center;
		}
	}

	.studios {

		&__title {
			font-size: 24px;
			line-height: 59px;
		}
	}
}

// !/*!-------------What----------*/

.areas {

	&__container {
		padding-top: 180px;
		padding-bottom: 50px;

	}

	&__title:not(:last-child) {
		margin-bottom: 15px;
	}

	&__subtitle:not(:last-child) {
		margin-bottom: 42px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, 576px));
		margin-right: 81px;
		margin-left: 56px;
		gap: 16px;
		animation: areas 3s 1 ease-out forwards;
	}

	&__item {
		overflow: hidden;

	}
}



@keyframes areas {

	0% {
		margin-top: -200px;
		gap: 300px;

	}

	100% {
		gap: 16px;

	}

}

.item {

	position: relative;


	&__image {
		position: relative;
		padding-bottom: 105%;
		overflow: hidden;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transform: scale(1);
			transition: transform 2s;

			&:hover {
				transform: scale(1.5);
			}
		}

	}





	&__title {
		margin-bottom: 14px;
	}

	&__text {
		margin-bottom: 22px;
		text-align: left;
		max-width: 516px;
		overflow: hidden;
	}

}

@keyframes img {

	0% {
		transform: scale(1);

	}

	100% {
		transform: scale(1.3);
	}

}


.item__info {
	position: absolute;
	bottom: 30px;
	left: 30px;
}

@media (max-width:1150.98px) {

	.item__button.button-body {
		display: flex;
		justify-content: space-evenly;
		width: 111px;
		line-height: 20px;
		background: #FFFFFF;
		border-radius: 14px;

		img {
			width: 20%;
		}

		span {
			font-size: 13px;
			letter-spacing: 0.4px;
			color: #000000;
		}
	}

	.areas {

		&__container {
			padding-top: 120px;

		}

		.item {

			position: relative;

			&__image {
				img {
					opacity: 0.7;
				}
			}
		}
	}
}

@media (max-width:799px) {

	.areas {
		.areas {
			&__items {
				display: grid;
				grid-template-columns: repeat(1, minmax(100px, 576px));
				justify-content: center;
				margin-right: 51px;
				margin-left: 56px;
			}

			&__container {
				padding-top: 60px;
			}
		}

		.areas__title.title {
			font-size: 30px;
		}

		.areas__subtitle.subtitle {
			font-size: 19px;
		}
	}
}

@media (max-width:499.98px) {

	.areas {
		.areas__title.title {
			font-size: 20px;
		}

		.areas__subtitle.subtitle {
			font-size: 13px;
		}

		.areas__container {
			padding-top: 0px;
			padding-bottom: 0px;
		}

	}

	.page {
		.title-item {
			margin-bottom: 5px;

		}


		.subtitle {
			font-size: 18px;
			line-height: 20px;
			text-align: center;

		}

		.text-item {

			font-size: 13px;
			line-height: 16px;
			margin-bottom: 4px;
		}
	}

	.page .button-body {

		width: 100px;
		line-height: 18px;
		border-radius: 14px;

		img {
			width: 10%;
		}

		span {
			font-size: 12px;
			letter-spacing: 0.4px;
			color: #000000;
		}
	}
}

@media (max-width:350.98px) {
	.item__info {
		position: absolute;
		top: 60px;
		left: 0px;
	}

	.page {
		.title-item {
			text-align: left;
			margin-bottom: 5px;
			font-size: 12px;
			line-height: 13px;
		}

		.subtitle {
			font-size: 15px;
			line-height: 15px;

		}

		.text-item {
			display: none;
		}
	}

}

// !-------------------fuji-------------------

.fuji {




	&__content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-end;

	}

	&__title {
		margin-top: 280px;
		text-align: left;
		width: 298px;
	}

	&__text {

		margin-bottom: 192px;
		text-align: left;
		width: 298px;
	}

	&__info {

		margin-bottom: 40px;
	}

}

@media (max-width:499.98px) {

	.page .fuji {
		.title-item {
			margin: 300px 70px 50px 0px;
		}

		.text-item {
			margin-right: 70px;
			margin-bottom: 50px;
		}

		.fuji__info {
			margin-right: 100px;
		}
	}

}

@media (max-width:399.98px) {


	.page .fuji {


		&__title {
			padding-top: 130px;
			text-align: left;
			width: auto;
		}

		&__content {
			margin-top: -200px;
			display: block;
		}

		.text-item {
			width: auto;
			display: block;
			margin-right: 70px;
			margin-bottom: 50px;
			margin-left: 5px;
		}

		.fuji__info {
			margin-right: 20px;
			margin-left: 0px;
		}
	}

}


//! --------------------tools--------------------
.page {

	&__tools {
		height: 540px;
		background: url('/img/tools/decor.png') 100% no-repeat;
	}
}

.tools {


	&__container {
		display: flex;
		flex-direction: column;
		gap: 57px;

	}

	&__content {

		width: 514px;
	}

	&__title {
		margin-top: 173px;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #C0C0C0;
		margin-bottom: 6px;
	}

	&__subtitle {
		font-size: 28px;
		line-height: 32px;
		color: #FFFFFF;
		margin-bottom: 14px;
	}

	&__text {
		max-width: 514px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	&__button {
		margin-bottom: 40px;
	}

}

.tools__info.info-studios {
	margin-bottom: 40px;
}

@media (max-width:520.98px) {
	.tools {


		&__container {
			display: flex;
			flex-direction: column;
			gap: 10px;

		}

		&__content {

			width: 314px;
		}

		&__title {
			margin-top: 173px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #C0C0C0;
			margin-bottom: 6px;
		}

		&__subtitle {
			font-size: 28px;
			line-height: 32px;
			color: #FFFFFF;
			margin-bottom: 14px;
		}

		&__text {
			margin-left: 10px;
			width: auto;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 10px;
		}

		&__button {
			margin-top: 20px;
			margin-bottom: 10px;
		}

	}
}

@media (max-width:348.98px) {
	.page {

		&__tools {
			height: 340px;
			background: url('/img/tools/decor.png') 100% no-repeat;
		}
	}


	.tools {


		&__container {
			display: flex;
			flex-direction: column;
			gap: 10px;

		}

		&__content {

			width: 314px;
		}

		&__title {
			margin-top: 103px;
			font-size: 13px;
			line-height: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #C0C0C0;
			margin-bottom: 6px;
		}

		&__subtitle {
			width: 200px;
			font-size: 24px;
			line-height: 32px;
			color: #FFFFFF;
			margin-bottom: 14px;
		}

	}
}

//! ------------monstera---------------



.monstera {
	&__container {}

	&__content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-end;

	}

	&__title {
		margin-top: 280px;
		text-align: left;
		width: 298px;
	}

	&__text {

		margin-bottom: 192px;
		text-align: left;
		width: 298px;
	}

	&__info {

		margin-bottom: 40px;
	}

}

@media (max-width:499.98px) {

	.page .monstera {
		.title-item {
			margin: 300px 70px 50px 0px;
		}

		.text-item {
			margin-right: 70px;
			margin-bottom: 50px;
		}

		.monstera__info {
			margin-right: 100px;
		}
	}

}

@media (max-width:399.98px) {


	.page .monstera {


		&__title {
			padding-top: 130px;
			text-align: left;
			width: auto;
		}

		&__content {
			margin-top: -300px;
			display: block;
		}

		.text-item {
			width: auto;
			display: block;
			margin-right: 70px;
			margin-bottom: 50px;
			margin-left: 10px;
		}

		.monstera__info {
			margin-right: 20px;
			margin-left: 0px;
		}
	}

}




// !-------------------clients----------------


.clients {
	padding-top: 120px;
	padding-bottom: 100px;

	&__container {}

	&__title {
		margin-bottom: 15px;
	}

	&__subtitle {
		margin-bottom: 42px;
	}

	&__items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		margin-left: 46px;
	}

}

@media (max-width:880.99px) {

	.clients {
		&__items {
			margin-left: 0px;
		}
	}
}

@media (max-width:730.99px) {

	.page .clients {
		&__container {
			padding-top: 30px;
			padding-bottom: 0px;

		}

		&__title {
			font-size: 25px;
			margin-bottom: 0px;
		}

		&__subtitle {
			margin-bottom: 15px;
		}

		&__items {

			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			margin-left: 0px;
			gap: 30px;

			img {

				max-width: 85%;
			}


		}
	}

}


// !-------------------Himalayas--------------


.himalayas {

	&__container {}


	&__content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-end;

	}

	&__title {
		margin-top: 280px;
		text-align: left;
		width: 298px;
	}

	&__text {

		margin-bottom: 192px;
		text-align: left;
		width: 298px;
	}

	&__info {

		margin-bottom: 40px;
	}

}

@media (max-width:499.98px) {

	.page .himalayas {
		.title-item {
			margin: 300px 70px 50px 0px;
		}

		.text-item {
			margin-right: 70px;
			margin-bottom: 50px;
		}

		.himalayas__info {
			margin-right: 100px;
		}
	}

}

@media (max-width:399.98px) {


	.page .himalayas {


		&__title {
			padding-top: 130px;
			text-align: left;
			width: auto;
		}

		&__content {
			margin-top: -200px;
			display: block;
		}

		.text-item {
			width: auto;
			display: block;
			margin-right: 70px;
			margin-bottom: 50px;
			margin-left: 5px;
		}

		.himalayas__info {
			margin-right: 20px;
			margin-left: 0px;
		}
	}

}


// !------------------Help------------

.help {

	padding-top: 100px;
	padding-bottom: 50px;

	&__container {}

	&__title {
		margin-bottom: 15px;

	}

	&__subtitle {
		margin-bottom: 12px;
	}

	&__buttom {
		display: flex;
		justify-content: center;
	}
}

@media (max-width:700px) {
	.page .help {

		padding-top: 50px;
		padding-bottom: 50px;

		&__title {
			font-size: 30px;
			margin-bottom: 10px;

		}

		&__subtitle {
			font-size: 18px;
			margin-bottom: 12px;
		}

	}

}

@media (max-width:477.99px) {
	.page .help {

		padding-top: 10px;
		padding-bottom: 50px;

		&__container {}

		&__title {
			font-size: 20px;
			margin-bottom: 10px;

		}

		&__subtitle {
			font-size: 15px;
			margin-bottom: 12px;
		}

		&__buttom {
			display: flex;
			justify-content: center;
		}
	}

}

// !------------------footer------------
.footer {
	background: #000000;
	padding-top: 50px;
	padding-bottom: 100px;

	&__container {}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__navigation {
		display: flex;
		justify-content: space-between;

	}

	&__action {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__pages {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navigation {
	padding-bottom: 36px;
	border-bottom: #FFFFFF solid;

	&__style {}

	&__logo {}

	&__text {
		font-size: 13px;
		line-height: 20px;
		color: #C0C0C0;
		margin-top: 20px;
	}

	&__columns {
		display: flex;
		gap: 56px;

	}

	&__column1 {}

	&__title {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #C0C0C0;
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;

	}

	&__item {}

	&__column2 {}
}

.action {
	padding: 36px 0px 36px 0px;
	border-bottom: #FFFFFF solid;

	&__style {}

	&__title {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	&__text {
		font-size: 13px;
		line-height: 20px;
		color: #C0C0C0;
	}

	&__button {
		padding-top: 11px;
		padding-right: 6px;
		width: 458px;
		height: 52px;
		background: #F9FAFB;
		border: 1px solid #E5E7EB;
		border-radius: 12px;
		transition: all 1s ease-out;
		animation: 1s linear 0s infinite alternate subscribe
	}

	&__link {
		margin-left: 85%;
	}

	&__button:hover {
		background-color: rgb(160, 191, 166)
	}


	&__link:active {
		animation-name: sucsribebutton;
		animation-duration: 0.1s;
		animation-direction: alternate;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}


}

@keyframes subscribe {
	0% {
		transform: scale(1);
	}

	100% {
		box-shadow: 5px 5px 16px 7px rgb(126, 121, 121), -5px -5px 16px 7px rgb(126, 121, 121);
		border: 1px solid rgb(0, 0, 0);
		position: relative;
		top: -1px;
		left: 1px;
		background-color: rgb(255, 255, 255);
		transform: scale(1.1);
	}

}



.pages {

	margin-top: 56px;

	&__copy {
		font-size: 14px;
		line-height: 20px;
		color: #C0C0C0;
	}

	&__online {
		display: flex;
		gap: 20px;
	}

	&__twitter {}

	&__instagram {}

	&__facebook {}
}


@keyframes sucsribebutton {
	from {
		margin-left: 85%;

	}

	to {
		margin-left: 3%;

	}
}

@media (max-width:800.99px) {
	.footer__navigation {
		gap: 20px;
	}

	.action__link {
		margin-left: 80%;

	}

	.footer__action {
		gap: 10px;
	}

	.footer__pages {
		text-align: center;
		flex-direction: column-reverse;
		gap: 10px;
	}
}

@media (max-width:540.99px) {
	.footer__navigation {
		gap: 20px;
	}

	.action__link {
		margin-left: 70%;

	}

	.footer__action {
		gap: 10px;
	}

}

@media (max-width:400.99px) {
	.footer__navigation {
		gap: 20px;
		flex-direction: column;
	}

	.action__link {
		margin-left: 70%;

	}

	.action__button {
		padding-top: 11px;
		padding-right: 6px;
		max-width: 158px;
		height: 40px;
		background: #F9FAFB;
		border: 1px solid #E5E7EB;
		border-radius: 12px;
	}

	.action__link {
		margin-left: 70%;

		img {
			max-width: 30%;
		}
	}



	.navigation__columns {

		gap: 26px;
	}

}

@media (max-width:289.99px) {
	.footer__navigation {
		gap: 20px;
		flex-direction: column;
	}

	.action__button {
		padding-top: 11px;
		padding-right: 6px;
		max-width: 158px;
		height: 40px;
		background: #F9FAFB;
		border: 1px solid #E5E7EB;
		border-radius: 12px;
	}

	.footer__action {
		flex-direction: column;
		text-align: center;
	}


	.action__link {
		margin-left: 70%;

		img {
			max-width: 30%;
		}
	}

	.navigation__columns {

		gap: 26px;
	}

}